---
---

* {
	margin: 0;
	padding: 0;
}




body {
	background-image: url("background.jpg");
}

header {
	position: relative;
	height: 75px;
	background: linear-gradient(to bottom right, #9b6954, #a8715a);
	h1 {
     	position: absolute;
     	top: 50%;
     	transform: translateY(-50%);
		display: inline-block;
		color: white;
		margin-left: 15px;
	}

	.search {
    	position: absolute;
     	top: 50%;
     	transform: translateY(-50%);
    	left: 50%;
    	transform: translateX(-50%);
	}
}

nav {
	display: inline-block;
	float: right;
	position: relative;
	top: 20px;
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	li {
	    float: right;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	/* Change the link color to #111 (black) on hover */
	li a:hover {
	    background-color: #111;
	}
}

main {
	ul {
		margin: 0 auto;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;

		li {
			border-radius: 25px;
			width: 250px;
			height: 350px;
			justify-self: center;
			align-self: center;
			margin: 5px;
			.img {
				height: 80%;
				background-color: #CCCCCC;
				border-radius: 25px 25px 0 0;
			}

			.caption {
				border-radius: 0 0 25px 25px;
				background-color: #DDDDDD;
				height: 20%;
			}

			&:empty {
			  height: 0;
			  border: none;
			}
		}
	}
}

footer {
	height: 50px;
	background-color: #D4BF9F;
	h6 {
		margin: auto;
	}
}